<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse text-center">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="menu-logo icon-round" src="assets/images/logo.jpg">
        </div>
        <div class="logo-element">
          LP
        </div>
      </li>

      <!--ADMIN-->
      <li [ngClass]="{active: activeRoute('Barriles')}">
        <a class="text-left" [routerLink]="['/Barriles']">
          <i class="fa fa-file"></i>
          <span class="nav-label">Barriles</span>
        </a>
      </li>

    </ul>
  </div>
</nav>