<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse text-center">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header" (click)="goHome()">
        <div class="profile-element" dropdown>
          <img alt="image" class="menu-logo icon-round pointer" src="assets/images/logo.jpg">
        </div>
        <div class="logo-element">
          LP
        </div>
      </li>

      <!--ADMIN-->
      <li [ngClass]="{active: activeRoute('Clientes')}">
        <a class="text-left" [routerLink]="['/Clientes']">
          <i class="fa fa-users"></i>
          <span class="nav-label">Clientes</span>
        </a>
      </li>

      <li [ngClass]="{active: activeRoute('Usuarios')}">
        <a class="text-left" [routerLink]="['/Usuarios']">
          <i class="fa fa-users"></i>
          <span class="nav-label">Usuarios</span>
        </a>
      </li>
      
      <li [ngClass]="{active: activeRoute('Contenedores')}">
        <a class="text-left" [routerLink]="['/Contenedores']">
          <i class="fa fa-archive"></i>
          <span class="nav-label">Contenedores</span>
        </a>
      </li>

      <li [ngClass]="{active: activeRoute('Cervezas')}">
        <a class="text-left" [routerLink]="['/Cervezas']">
          <i class="fa fa-beer"></i>
          <span class="nav-label">Cervezas</span>
        </a>
      </li>

      <li [ngClass]="{active: activeRoute('Stock')}">
        <a class="text-left" [routerLink]="['/Stock']">
          <i class="fa fa-book"></i>
          <span class="nav-label">Stock</span>
        </a>
      </li>

      <li [ngClass]="{active: activeRoute('Pedidos')}">
        <a class="text-left" [routerLink]="['/Pedidos']">
          <i class="fa fa-tasks"></i>
          <span class="nav-label">Pedidos</span>
        </a>
      </li>
    </ul>
  </div>
</nav> 