<div class="form-group">
    <label class="label-control">Nombre</label>
    <input type="text" class="form-control" [(ngModel)]="model.name">
</div>

<div class="form-group">
    <label class="label-control">Material</label>
    <input type="text" class="form-control" [(ngModel)]="model.material">
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="label-control">Alto</label>
            <input type="number" class="form-control" [(ngModel)]="model.heigth">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="label-control">Ancho</label>
            <input type="number" class="form-control" [(ngModel)]="model.width">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="label-control">Capacidad</label>
            <input type="number" class="form-control" [(ngModel)]="model.capacity">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="label-control">Cantidad</label>
            <input type="number" class="form-control" [(ngModel)]="model.quantity">
        </div>
    </div>
</div>