<div class="wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Alta - Contenedor</h3>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="label-control">Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="model.name">
                    </div>

                    <div class="form-group">
                        <label class="label-control">Material</label>
                        <input type="text" class="form-control" [(ngModel)]="model.material">
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="label-control">Alto</label>
                                <input type="number" class="form-control" [(ngModel)]="model.heigth">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="label-control">Ancho</label>
                                <input type="number" class="form-control" [(ngModel)]="model.width">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="label-control">Capacidad</label>
                                <input type="number" class="form-control" [(ngModel)]="model.capacity">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="label-control">Cantidad</label>
                                <input type="number" class="form-control" [(ngModel)]="model.quantity">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <button type="button" class="btn btn-primary" (click)="save()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>