<div class="wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h3 class="pull-left">
                <strong>Listado de clientes</strong>
            </h3>
            <div class="ibox-tools">
                <a [routerLink]="['/Clientes/Alta']" class="btn btn-sm btn-primary">
                    Nuevo
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped full-width" id="client-table">
                <thead>
                    <tr>
                        <th class='text-center'>Razon Social</th>
                        <th class='text-center'>Cuit</th>
                        <th class='text-center'>Telefono</th>
                        <th class='text-center'>Email</th>
                        <th class='text-center'>Dirección</th>
                        <th class='text-center'>Activo</th>
                        <th class='text-center'>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients" class="pointer">
                        <td class='text-center'>{{ client.businessName }}</td>
                        <td class='text-center'>{{ client.cuit }}</td>
                        <td class='text-center'>{{ client.phoneNumber }}</td>
                        <td class='text-center'>{{ client.email }}</td>
                        <td class='text-center'>{{ client.address }}</td>
                        <td class='text-center'>
                            <label *ngIf="client.visible" class="label label-info">Si</label>
                            <label *ngIf="!client.visible" class="label label-danger">No</label>
                        </td>
                        <td class='text-center'>
                            <button class="btn btn-xs btn-primary" (click)="goToDetail(client.clientId)" title="Editar">
                                <i class="fa fa-pencil fa-lg"></i>
                            </button>
                            <button class="btn btn-xs btn-danger" *ngIf="client.visible" (click)="delete(client.clientId)" title="Desactivar">
                                <i class="fa fa-trash fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>