<div class="wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="widget navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-map fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Barriles </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div>