<div class="wrapper-content animated fadeInRight">

    <div class="text-center text-underline">
        <h2>Acciones de Administrador</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="widget navy-bg pointer" (click)="navigate('/Clientes')">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Clientes </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget navy-bg pointer" (click)="navigate('/Stock')">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-book fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Stock </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget navy-bg pointer" (click)="navigate('/Pedidos')">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Pedidos </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="widget navy-bg pointer" (click)="navigate('/Usuarios')">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Usuarios </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget navy-bg pointer" (click)="navigate('/Cervezas')">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-beer fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Cervezas </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget navy-bg pointer" (click)="navigate('/Contenedores')">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-archive fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Contenedores </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>