<div class="wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h3 class="pull-left">
                <strong>Listado de cervezas</strong>
            </h3>
            <div class="ibox-tools">
                <a [routerLink]="['/Cervezas/Alta']" class="btn btn-sm btn-primary">
                    Nuevo
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped full-width" id="beer-table">
                <thead>
                    <tr>
                        <th class='text-center'>Nombre</th>
                        <th class='text-center'>Granos</th>
                        <th class='text-center'>Color</th>
                        <th class='text-center'>IBU</th>
                        <th class='text-center'>% Alc</th>
                        <th class='text-center'>Stock (lt.)</th>
                        <th class='text-center'>Activo</th>
                        <th class='text-center'>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let beer of beers" class="pointer">
                        <td class='text-center'>{{ beer.name }}</td>
                        <td class='text-center'>{{ beer.granos }}</td>
                        <td class='text-center'>{{ beer.color }}</td>
                        <td class='text-center'>{{ beer.ibu }}</td>
                        <td class='text-center'>{{ beer.graduation | number: '1.0-2' }} %</td>
                        <td class='text-center'>{{ beer.quantity | number: '1.0-2' }} lt.</td>
                        <td class='text-center'>
                            <label *ngIf="beer.visible" class="label label-info">Si</label>
                            <label *ngIf="!beer.visible" class="label label-danger">No</label>
                        </td>
                        <td class='text-center'>
                            <button class="btn btn-xs btn-primary" (click)="goToDetail(beer.beerId)" title="Editar">
                                <i class="fa fa-pencil fa-lg"></i>
                            </button>
                            <button class="btn btn-xs btn-danger" *ngIf="beer.visible" (click)="delete(beer.beerId)" title="Desactivar">
                                <i class="fa fa-trash fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>