
<!-- Modal -->
<div [id]="config.id" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">

      <!-- header-->
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="closeEvent($event)">&times;</button>
          <h3 class="modal-title">{{config.title}}</h3>
      </div>

      <!-- body-->
      <div class="modal-body">
        <!-- Modal content-->
        <ng-content></ng-content>

      </div>

      <!-- footer-->
      <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-warning" (click)="onBtn1Click()" *ngIf="config.button1">{{config.button1Text}}</button>
            <button type="button" class="btn btn-primary" (click)="onBtn2Click()" *ngIf="config.button2">{{config.button2Text}}</button>
        </div>

        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeEvent($event)" *ngIf="config.cancelButton">{{config.cancelButtonText}}</button>
        <button type="button" id="btnSave" class="btn btn-success" data-dismiss="modal" (click)="acceptEvent($event)" *ngIf="config.acceptButton">{{config.acceptButtonText}}</button>
      </div>
    </div>

  </div>
</div>