<div class="wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h3 class="pull-left">
                <strong>Listado de Pedidos</strong>
            </h3>
            <div class="ibox-tools">
                <a [routerLink]="['/Pedidos/Alta']" class="btn btn-sm btn-primary">
                    Nuevo
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-striped full-width" id="order-table">
                <thead>
                    <tr>
                        <th class='text-center'>Fecha de Ingreso</th>
                        <th class='text-center'># Pedido</th>
                        <th class='text-center'># Items</th>
                        <th class='text-center'>Pago</th>
                        <th class='text-center'>Estado</th>
                        <th class='text-center'>Acciones</th>
                    </tr>
                </thead>
                <tbody *ngIf="orders$|async as orders">
                    <tr *ngFor="let order of orders" class="pointer">
                        <td class='text-center'>{{ order.fecha }}</td>
                        <td class='text-center'>{{ order.idPedido }}</td>
                        <td class='text-center'>{{ order.items.length }}</td>
                        <td class='text-center'>$ {{ orders.total  | number: '1.2-2' }} - {{ orders.pagado ? '✓': '✗' }}</td>
                        <td class='text-center'>{{ orders.estadoVisible }}</td>
                        <td class='text-center'>
                            <button class="btn btn-xs btn-primary" (click)="goToDetail(order.idPedido)" title="Editar">
                                <i class="fa fa-pencil fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>