<div class="wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 col-lg-offset-3 col-md-offset-2">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <h3>Detalle - Usuario</h3>
                </div>
                <div class="ibox-content">
                    <user-form #form></user-form>
                </div>
                <!-- <div class="ibox-footer text-center">
                    <button type="button" class="btn btn-primary" (click)="save()">Guardar</button>
                </div> -->
            </div>
        </div>
    </div>
</div>