<div class="form-group">
    <label class="label-control">Razon Social</label>
    <input type="text" class="form-control" [(ngModel)]="model.businessName">
</div>

<div class="form-group">
    <label class="label-control">CUIT</label>
    <input type="number" class="form-control" [(ngModel)]="model.cuit">
</div>

<div class="form-group">
    <label class="label-control">Telefono</label>
    <input type="number" class="form-control" [(ngModel)]="model.phoneNumber">
</div>

<div class="form-group">
    <label class="label-control">Email</label>
    <input type="text" class="form-control" [(ngModel)]="model.email">
</div>

<div class="form-group">
    <label class="label-control">Dirección</label>
    <input type="text" class="form-control" [(ngModel)]="model.address">
</div>
