<div class="wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox" *ngIf="order$|async as order">
                <div class="ibox-title text-center">
                    <h3>Pedido # {{ order.idPedido }}</h3>
                </div>
                <div class="ibox-content">
                    <p><strong>Fecha Ingreso:</strong>{{ order.fecha | date: 'medium' }}</p>
                    <p><strong>Total:</strong> $ {{ order.total  | number: '1.2-2' }}</p>
                    <p><strong>Pago:</strong> {{ order.pagado ? '✓ Registrado': '✗ No Registrado' }} <button (click)="trackPayment(order.idPedido, true)" *ngIf="!order.pagado && order.estado != 3 && roleId == 2">Registrar Pago</button> <button (click)="trackPayment(order.idPedido, false)" *ngIf="order.pagado && order.estado == 3 && roleId == 2">Registrar Reembolso</button></p>
                    <p><strong>Estado:</strong> {{ estadoVisible(order.estado) }}</p>
                </div>

                <div class="ibox-content" *ngIf="transicionesPosibles(order.estado).length > 0 && roleId == 2">
                    <strong>Transicionar a estado:</strong> 
                    <button *ngFor="let estado of transicionesPosibles(order.estado)" (click)="transitionTo(order.idPedido, estado)">{{ estadoVisible(estado) }}</button>
                </div>

                <table class="table table-striped full-width">
                    <thead>
                        <tr>
                            <th class='text-center'>Cantidad</th>
                            <th class='text-center'>Cerveza</th>
                            <th class='text-center'>Contenedor</th>
                            <th class='text-center'>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order.items" class="pointer">
                            <td class='text-center'>{{ item.cantidad }}</td>
                            <td class='text-center'>{{ item.beer.name }}</td>
                            <td class='text-center'>{{ item.container.name }}</td>
                            <td class='text-center'>$ {{ item.precio | number: '1.2-2' }}</td>
                        </tr>
                    </tbody>
                    <!-- tfoot>
                        <tr>
                            <td colspan="3" class='text-right'><strong>Total:</strong></td>
                            <td class='text-center'>{{ getTotal() | number: '1.2-2' }}</th>
                        </tr>
                    </tfoot -->
                </table>
            </div>
        </div>
    </div>
</div>